@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

%hoverlink {
    text-decoration: none;
    color: rgb(240, 240, 240);

    &:hover {
        color: white;
    }
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #444444;
}

.app {
    display: flex;
    color: #cecece;

    .container {
        display: inherit;
    }

    .nav {
        height: 100vh;
        width: 64px;
        position: fixed;
        @include flex(column);

        a {
            @extend %hoverlink;
            font-size: 28px;
            padding-bottom: 1em;
        }
    }

    .form-schedule,
    .list-schedule,
    .home,
    .not-found {
        flex: auto;

        h1 {
            display: inline;
            font-weight: normal;
            color: white;
            margin: 2em 0;
        }
    }

    .form-schedule {
        @include flex(column);

        .form {
            .field {
                width: -webkit-fill-available;

                label {
                    color: #cecece;
                }

                input[type="text"],
                input[type="datetime-local"],
                textarea,
                button {
                    width: inherit;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    box-sizing: border-box;
                    border: 2px solid #cecece;
                    background-color: transparent;
                    color: #cecece;
                }

                input[type="text"],
                input[type="datetime-local"],
                textarea {
                    &:hover {
                        border-color: #ececec;
                    }
                }

                button:hover {
                    background-color: #cecece;
                    color: #444444;
                }
            }
        }
    }

    .list-schedule {
        @include flex(column);
    }
}

.tagsClass {
    margin-top: 1em;

    .tagClass {
        color: #49afce;
        border: 1px solid #49afce;
        padding: 0.5em 1em;
    }

    .removeClass {
        padding: 0 0 0 8px;
        font-size: 13px;
        cursor: pointer;
    }
}

.list-content {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50em;

    .list-item {
        position: relative;

        label {
            margin-right: 10px;
            text-transform: uppercase;
        }

        pre {
            white-space: pre-wrap;
        }

        .time {
            font-size: 12px;

            .drive {
                margin: 10px;
            }
        }

        .subject {
            font-size: 18px;
            color: #ff5252;
        }

        .type {
            margin: 15px 0;

            li {
                border: 1px solid;
                padding: 1px 10px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: #cecece;
                    color: #444444;
                }
            }
        }

        .member {
            margin-top: .5em;
        }

        .control {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0.5em 0.5em 0 0;

            i {
                cursor: pointer;
                font-size: large;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}


.list-inline {
    list-style: none;
    display: flex;
    padding: 0;

    li {
        margin-right: 1em;
    }
}